body {
    font-family: sans-serif;
}
header{
    
}
h1{
    border: 3px solid darkviolet;
    border-radius: 20px;
    color: orange;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
footer{
    border: 5px solid violet;
    background-color: violet;
}
footer p{
    background-color: white;
}
nav{
    border: 2px solid lightgray;
    margin: 20px;
    padding: 10px;
}
nav a{
    color: rgb(90,90,90);
    padding: 20px;
    margin: 20px;
    text-decoration: none;
}
.icon{
    background-color: yellowgreen;
    margin: 10px;
    padding: 10px;
}
#discount{
    color:blue;
}
